.normal {
    background: linear-gradient(to bottom, #a6a877 99.8%, #fff 0.2%);
}

.grass {
    background: linear-gradient(to bottom, #43c9a8 99.8%, #fff 0.2%);
}

.fire {
    background: linear-gradient(to bottom, #fa6264 99.8%, #fff 0.2%);
}

.water {
    background: linear-gradient(to bottom, #6cb5fa 99.8%, #fff 0.2%);
}

.electric {
    background: linear-gradient(to bottom, #ffd26d 99.8%, #fff 0.2%);
}

.ice {
    background: linear-gradient(to bottom, #98d5d7 99.8%, #fff 0.2%);
}

.ground {
    background: linear-gradient(to bottom, #dfbf69 99.8%, #fff 0.2%);
}

.flying {
    background: linear-gradient(to bottom, #a98ff0 99.8%, #fff 0.2%);
}

.poison {
    background: linear-gradient(to bottom, #a040a0 99.8%, #fff 0.2%);
}

.fighting {
    background: linear-gradient(to bottom, #bf3029 99.8%, #fff 0.2%);
}

.psychic {
    background: linear-gradient(to bottom, #f65687 99.8%, #fff 0.2%);
}

.dark {
    background: linear-gradient(to bottom, #725847 99.8%, #fff 0.2%);
}

.rock {
    background: linear-gradient(to bottom, #b8a137 99.8%, #fff 0.2%);
}

.bug {
    background: linear-gradient(to bottom, #a8b720 99.8%, #fff 0.2%);
}

.ghost {
    background: linear-gradient(to bottom, #6e5896 99.8%, #fff 0.2%);
}

.steel {
    background: linear-gradient(to bottom, #b9b7cf 99.8%, #fff 0.2%);
}

.dragon {
    background: linear-gradient(to bottom, #6f38f6 99.8%, #fff 0.2%);
}

.fairy {
    background: linear-gradient(to bottom, #f9aec7 99.8%, #fff 0.2%);
}
